.contents-row
  .content-row
    = image_tag @post.photos.first.image.url, class: "image-post", height: "740px", width: "750px"
    .comment-all
      %h2.current-comment
        < コメント一覧 >
      .comment-each
        - if @comments
          - @comments.each do |comment|
            .comment-user
              =link_to comment.user.name, class: "user-name"
              %p.koron :
              .comment-text
                %p.comment-honbun=comment.text
      = form_with model: @comment, url: post_comments_path(@post), method: :post, local: true  do |form|
        .comment-content
          =form.text_area :text, placeholder: "例）素敵ですね", class: "comment-form"
        .comment-button
          =form.submit "コメントする", class: "comment-btn"

